name: CD

on:
  push:
    branches: [ "main" ]

permissions:
  contents: read
  packages: write

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: \${{ github.actor }}
          password: \${{ secrets.GITHUB_TOKEN }}
      - run: docker build -t ghcr.io/\${{ github.repository_owner }}/finance-demo-api:latest .
      - run: docker push ghcr.io/\${{ github.repository_owner }}/finance-demo-api:latest
